@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Jacques+Francois+Shadow&family=Lato:wght@100&family=Noto+Sans:wght@100&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;1,100;1,300;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jacques Francois Shadow', serif;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}


.logoimg {
    width: 15%;
    padding: 15px;
}

h1 {
    color: white;
}

ul {
     display: flex;
     align-items: center;
     list-style: none;
 }
 
 a {
     color: white;
     text-decoration: none;
     margin-right: 30px;
 }

 footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    display: flex;
    align-items: center;
}

h6 {
    color: white;
}

.logofimg {
    width: 15%;
    height: auto;
    object-fit: contain;
}
 

